.header {
  max-width: 880px;
  width: calc(100% - 200px * 2);
  height: 74px;
  margin: 45px auto 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 684px) {
  .header {
    max-width: 320px;
    width: 100%;
    height: 56px;
    margin: 28px auto 0;
  }
}
