.elements {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px 20px;
  box-sizing: border-box;
  margin-bottom: 66px;
}

@media screen and (max-width: 1140px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 890px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 699px) {
  .elements {
    width: 282px;
    margin-bottom: 42px;
  }
}
