.new-card__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close_Icon_svg.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -40px;
  left: 438px;
  border: 0;
  cursor: pointer;
}

.new-card__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 590px) {
  .new-card__close {
    width: 20px;
    height: 20px;
    background-size: 20px;
    top: -36px;
    left: 262px;
  }
}
