.popup__field_error_active {
  min-width: 162px;
  max-height: 15px;
  padding: 5px 36px 10px;
  font-weight: 400;
  font-size: 12px;
  color: #ff0000;
  border: none;
  font-family: "Inter", Arial, sans-serif;
}
